<!DOCTYPE html>
<html>
<head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <style type="text/css">
        .container {
            max-width: 1000px;
            padding-top: 100px;
        }
    </style>
    <script language="javascript">

        $(document).ready(function () {
            $('#table_id').DataTable();
        });

    </script>

</head>
<body>
<div class="container">


    <div class="row">
        <div class="col-md-3">
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="param">Parameter:</label>
                    <select class="form-control" name="param" id="param">
                        {% for each in parameters %}
                        <option value="{{each}}">{{each}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <button type="submit" class="btn btn-success">Generate results</button>
                </div>
            </form>
        </div>

    </div>


    <br>
    <h4>Results for parameter: {{param}} </h4>
    <table class="table table-bordered " id="table_id">
        <thead>
        <tr>
            <th scope="col">Entity</th>
            <th scope="col">Hansard</th>
            <th scope="col">Snomed</th>
            <th scope="col">FoodOn</th>

        </tr>
        </thead>
        <tbody>

        {% for concept in result %}
        <tr>
            <td>{{concept}}</td>
            <td>
                <h5><b> True positives:</b></h5>
                {% for item in result[concept]['hansard_found'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">

                    <p style="color: green"> {{item.split("] ")[0].replace('[','')}} </p>
                </a>
                {% endfor %}
                <h5><b> False negatives:</b></h5>
                {% for item in result[concept]['hansard_not_found'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: red"> {{item.split("] ")[0].replace('[','')}} </p>
                </a>
                {% endfor %}
                <b>False positives: </b>
                {% for item in result[concept]['hansard_our_results'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: dodgerblue"> {{item.split('] ')[0].replace('[','')}} </p>
                </a>
                {% endfor %}
            </td>

            <td>
                <h5><b> True positives:</b></h5>
                {% for item in result[concept]['snomed_found'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: green"> {{item.split('] ')[0].replace('[','')}} </p>
                </a>
                {% endfor %}
                <h5><b> False negatives:</b></h5>
                {%for item in result[concept]['snomed_not_found'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: red"> {{item.split('] ')[0].replace('[','')}} </p>
                </a>
                {% endfor %}
                <b>False positives: </b>
                {% for item in result[concept]['snomed_our_results'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: dodgerblue"> {{item.split('] ')[0].replace('[','')}} </p>
                </a>
                {% endfor %}
            </td>

            <td>
                <h5><b> True positives:</b></h5>
                {% for item in result[concept]['foodon_found'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: green"> {{item.split('] ')[0].replace('[','')}} </p>
                </a>
                {% endfor %}
                <h5><b> False negatives:</b></h5>
                {%for item in result[concept]['foodon_not_found'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: red"> {{item.split('] ')[0].replace('[','')}} </p>
                </a>
                {% endfor %}
                <b>False positives: </b>
                {% for item in result[concept]['foodon_our_results'] %}
                <a target="__blank" href="{{item.split('] ')[1]}}">
                    <p style="color: dodgerblue"> {{item.split('] ')[0].replace('[','')}} </p>
                </a>
                {% endfor %}
            </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>

